Demo_ My first AI Agent in n8n.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -100
      ],
      "id": "b933c6df-ae75-4149-b970-359750351cd4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "7105393230",
        "text": "={{ $json.errorList && $json.errorList.length > 0\n  ? \"📅 Bugünün Hataları:\\n\\n\" + $json.errorList.join(\"\\n\")\n  : \"✅ Her şey yolunda! İyi günler dilerim 🌞\"\n}}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -140,
        -100
      ],
      "id": "1c89be82-d8b4-4709-ac3b-9f0780d1e5b1",
      "name": "Send a text message",
      "webhookId": "c7df6089-0079-4c78-9366-daedbb4a25c1",
      "credentials": {
        "telegramApi": {
          "id": "8EoyBIbACUcgoF7B",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://test.joedtech.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -100
      ],
      "id": "0376a1bd-d79b-4e79-ac49-7621d499b04f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1j0yfqKFPk-mGiAqllHIal7pOeJxEFKFjOvSemnahni8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "HATA",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "TARİH"
          ],
          "schema": [
            {
              "id": "TARİH",
              "displayName": "TARİH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -100
      ],
      "id": "83f4868d-bca6-4c01-b520-5f72a87bd766",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IxBn7SLjerJ4pW1E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.result;\nconst ts = msg.date;\n\n// UTC timestamp'e +3 saat ekle\nconst istTime = new Date((ts + (3 * 60 * 60)) * 1000);  // +3 saat\nconst iso = istTime.toISOString();\n\nconst datePart = iso.split(\"T\")[0];                   // YYYY-MM-DD\nconst timePart = iso.split(\"T\")[1].split(\".\")[0];     // HH:mm:ss\n\nconst text = msg.text || \"\";\n\nconst finalText = `📅 ${datePart} 🕒 ${timePart}\\n✉️ ${text}`;\n\nreturn [\n  {\n    json: {\n      log: finalText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        -100
      ],
      "id": "5f4d34a9-86ce-4dad-9a6c-b29abe0151a7",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c430e93-8e04-4f88-9da5-6e7ec17a568e",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "72e7bc6bd28988df9549c3faf269ac15ccc15788f603a70b525a324d9dd0586f"
  },
  "id": "o2vkXKW0d9eMEHcV",
  "tags": []
}